HOST="0.0.0.0"
PORT=5050
SECRET_KEY="secret_key"

MYSQL_ROOT_PASSWORD=root
MYSQL_HOST=boilerplate-db
MYSQL_PORT=3306
MYSQL_USER=boilerplate_user
MYSQL_PASSWORD=boilerplate_pass
MYSQL_DB_NAME=boilerplate_db
